<nav class="navbar navbar-expand-lg bg-light">
  <div class="container">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="#" class="navbar-brand">Shop</a>
      </li>
      <li class="nav-item active">
        <a href="#" class="nav-link"><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Products</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Contact</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <app-shopping-cart></app-shopping-cart>
      </li>
      <li class="nav-item">
        <app-user></app-user>
      </li>
      <li class="nav-item">
        <button class="btn btn-outline-info" type="submit">Logout</button>
      </li>
    </ul>
  </div>
</nav>